p {
color: black;
  text-align: center;
}

h1  {
text-align: center;
  background-color: black;
}
img{
float: right;
  
}

h2  {
text-align: center;
}

h3   {
text-align: center;
}

body {
background-color: red;
}
